@{
  Layout = "_Layout";
}

<h1>Doctor's Office</h1>

<p>@Html.ActionLink("All Specialties", "Index", "Specialties")</p>

<p>@Html.ActionLink("All Doctors", "Index", "Doctors")</p>

<p>@Html.ActionLink("All Patients", "Index", "Patients")</p>